.title {
  color: #FFD700;
  background-color: olive;
  text-align: center;
}

img {
  float: left;
  margin-top: 37px;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: black;
  text-align: center;
}

.info {
  width: 20%;
  color: #FFD700;
  background-color: black;
  text-align: left;
  font-family: sans-serif;
  margin: center;
}

div {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
}

.box1 {
  width: 100%;
  padding: 20px;
  border: solid olive;
  border-width: 1px;
  background-color: darkgray;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

.box2 {
  width: 100%;
  padding: 20px;
  border: solid olive;
  border-width: 10px;
  background-color: darkgray;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}