html {
	margin: 0;
	padding: 0;
	}

body { 
	background-image: url("file:///C:/Users/Schul/desktop/D-Lujo/WholeBand.jpg") no repeat center center;
  font: 75% georgia;
	line-height: 2;
	color: #555753;  
	margin: 0; 
	padding: 0;
	}

/* specific divs */

.page-wrapper {

}

.title {
  color: #FFD700;
  background-color: olive;
  text-align: center;
}

.ending {
  color: #FFD700;
  background-color: olive;
  text-align:end;
}

img {
  float: left;
  margin-top: 5%;
}

.sidebar {
  width: 30%;
  float: right;
  align-self: top;
  background-color: black;
  text-align: center;
}

.info {
  width: 20%;
  color: #FFD700;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  margin: center;
}

.box1 {
  width: 100%;
  padding: 20px;
  border: solid olive;
  border-width: 5px;
  background-color: rgb(109, 109, 109);
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

.box2 {
  width: 100%;
  padding: 20px;
  border: solid olive;
  border-width: 10px;
  background-color: rgb(109, 109,109);
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 480px) {
  body {
    background: url("file:///C:/Users/Schul/desktop/D-Lujo/WholeBand.jpg") no repeat center center;
    padding: 0 175px 0 110px;
    margin: 0;
    position: relative;
    color: goldenrod;
  }
}
